.bar
  .upload_button
    %span#spanButtonPlaceholder
  #divFileProgressContainer
  #thumbnails

:javascript
  var swfu;

  window.onload = function () {
    swfu = new SWFUpload({
      upload_url : '#{images_path_with_session_information}',
      flash_url : '/flash/swfupload.swf',

      // File Upload Settings
      file_size_limit : "10 MB",
      file_types : "*.jpg;*.jpeg;*.JPG;*.JPEG",
      file_types_description : "JPG Images",
      file_upload_limit : "0",

      // Event Handler Settings - these functions as defined in Handlers.js
      //  The handlers are not part of SWFUpload but are part of my website and control how
      //  my website reacts to the SWFUpload events.
      file_queue_error_handler : fileQueueError,
      file_dialog_complete_handler : fileDialogComplete,
      upload_progress_handler : uploadProgress,
      upload_error_handler : uploadError,
      upload_success_handler : uploadSuccess,
      upload_complete_handler : uploadComplete,

      // Button Settings
      button_image_url : "/../images/SmallSpyGlassWithTransperancy_17x18.png",
      button_placeholder_id : "spanButtonPlaceholder",
      button_width: 180,
      button_height: 18,
      button_text : '<span class="button">Select Images <span class="buttonSmall">(10 MB Max)</span></span>',
      button_text_style : '.button { font-family: Helvetica, Arial, sans-serif; font-size: 12pt; } .buttonSmall { font-size: 10pt; }',
      button_text_top_padding: 0,
      button_text_left_padding: 18,
      button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,
      button_cursor: SWFUpload.CURSOR.HAND,

      custom_settings : {
          upload_target : "divFileProgressContainer"
      },

      // Debug Settings
      debug: false
    });
  };
